{% extends "/_layouts/theme.html.twig" %}
{% import "/_macros/form-elements.html.twig" as form %}

{% block content %}
    <h2>Contact Us </h2>
    <div class="jumbotron">
       Your comment has been submitted. Thank You.
    </div>
{% endblock %}