{% extends "/_layouts/theme.html.twig" %}
{% import "/_macros/form-elements-bootstrap.html.twig" as forms %}
{% import "/_macros/list.html.twig" as list %}
{% import "/account/_macros/base.html.twig" as account %}

{# Redirect to the login page if user is not logged in. #}
{% do account.login() %}

{% block title %}Account{% endblock %}

{# Load in the breadcrumbs positioned in /_layouts/main/base.html.twig #}
{% block breadcrumb %}
{#
Passed into the macro is a array of key:value pairs as (title):(relative url)
- The last link should not have a url, as it will be used as a 'you are here' 
#}
{{ base.breadcrumbs({'Account Center':''}) }}
{% endblock %}

{# Load in the main content positioned in /_layouts/main/base.html.twig #}
{% block content %}
{# 
Load in the tabs for the page, pass in the name of this page, and make sure it's
set in the array in /account/_macros/base.html.twig
#}
<div id="customer-account" class="content-block default-bg ">
    <div class="container cont-main no-pad-t">
        {# Begin account center #}
        {# Begin page header #}    
        <div class="col-sm-12 col-md-9 col-lg-10">
            <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i>Hello {{ app.user.first_name|title }}!</span></h1>
            {# End page header #}  
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">

                    <p class="hidden-xs">Welcome to your account. Here you can manage all of your personal information and orders.</p>
                    </h2>
                    {# Begin navigation #}
                    <div class="navigation">
                            {{account.navigation('whishlist')}}
                    </div>
                    {# End navigation #}
                    <div class="clear clearfix"></div>
                </div>
            </div>
        </div>      
    </div>
</div>
{# End account center #}
{% endblock %}
