{% if app.user.isLoggedIn() %}
    {% do app.redirect('/account') %}
{% endif %}

{% extends "/_layouts/theme.html.twig" %}

{% set title = 'Reset password sent' %}
{% block title %}{{title}}{% endblock %}
{% block breadcrumb %}
{{ base.breadcrumbs({'Reset your password':''}) }}
{% endblock %}
{% block content %}
<div class="container main-container">
    <div class="row">
    {# Begin header #}
        <div class="col-sm-12 col-md-9 col-lg-10">
            <h1 class="section-title-inner"><span><i class="fa fa-unlock"></i> 
                {{ title|title }}</span>
            </h1>
            <h2 class="block-title-2"></h2>
        </div>
    {# End header #}
    </div> <!-- /Row -->
    <p>An email has been sent to the specified address. Please follow the instructions provided in the email to reset your password.</p>
    </div>
{% endblock %}