<table border="0" cellpadding="0" cellspacing="0" width="640" style="font-family: helvetica, arial, sans-serif;">
	<!-- Begin email header -->
	<tr>
		<td>
			{% include 'email/core/header.html.twig' %}
		</td>
	</tr>
	<!-- End email header -->
	<!-- Begin email content -->
	<tr>
		<td style="color: #555555; font-size: 14px; line-height: 22px; vertical-align: top;">

		</td>
	</tr>
	<!-- End email content -->
	<!-- Begin email footer -->
	<tr>
		<td>
			{% include 'email/core/footer.html.twig' %}
		</td>
	</tr>
	<!-- End email footer -->
</table>