{% extends "/_layouts/base.html.twig" %}
{% import "/_macros/base.html.twig" as base %}

{% block content %}
			<div class="container-fluid cart-list">
				<div class="row">
					<div class="col-xs-12 col-sm-12" >	
					    <header>
    						<h1 class="page-header">{% block page_title %}{% endblock %}</h1>
        				</header>
						{% block page_content %}
            			{% endblock %}
					</div>
				</div>
			</div>
{% endblock %}