.aliceblue {background-color:#F0F8ff;}
.antiquewhite {background-color:#faebd7;}
.aqua {background-color:#00ffff;}
.aquamarine {background-color:#7fffd4;}
.azure {background-color:#F0ffff;}
.beige {background-color:#F5F5dc;}
.bisque {background-color:#ffe4C4;}
.black {background-color:#000000;}
.blanchedalmond {background-color:#ffebcd;}
.blue {background-color:#0000ff;}
.blueviolet {background-color:#8A2be2;}
.brown {background-color:#A52A2A;}
.burlywood {background-color:#deb887;}
.cadetblue {background-color:#5F9ea0;}
.chartreuse {background-color:#7fff00;}
.chocolate {background-color:#D2691E;}
.coral {background-color:#ff7F50;}
.cornflowerblue {background-color:#6495ed;}
.cornsilk {background-color:#fff8dc;}
.crimson {background-color:#dc143C;}
.cyan {background-color:#00ffff;}
.darkblue {background-color:#00008B;}
.darkcyan {background-color:#008B8B;}
.darkgoldenrod {background-color:#B8860B;}
.darkgray {background-color:#A9A9A9;}
.darkgreen {background-color:#006400;}
.darkkhaki {background-color:#bdb76B;}
.darkmagenta {background-color:#8B008B;}
.darkolivegreen {background-color:#556B2F;}
.darkorange {background-color:#ff8C00;}
.darkorchid {background-color:#9932cc;}
.darkred {background-color:#8B0000;}
.darksalmon {background-color:#E9967A;}
.darkseagreen {background-color:#8fbc8F;}
.darkslateblue {background-color:#483D8B;}
.darkslategray {background-color:#2F4F4F;}
.darkturquoise {background-color:#00ced1;}
.darkviolet {background-color:#9400D3;}
.deeppink {background-color:#ff1493;}
.deepskyblue {background-color:#00bfff;}
.dimgray {background-color:#696969;}
.dodgerblue {background-color:#1E90ff;}
.firebrick {background-color:#B22222;}
.floralwhite {background-color:#fffaf0;}
.forestgreen {background-color:#228B22;}
.fuchsia {background-color:#ff00ff;}
.gainsboro {background-color:#dcdcdc;}
.ghostwhite {background-color:#F8F8ff;}
.gold {background-color:#ffd700;}
.goldenrod {background-color:#daa520;}
.gray {background-color:#808080;}
.green {background-color:#008000;}
.greenyellow {background-color:#adff2F;}
.honeydew {background-color:#F0fff0;}
.hotpink {background-color:#ff69B4;}
.indianred  {background-color:#cd5C5C;}
.indigo  {background-color:#4B0082;}
.ivory {background-color:#fffff0;}
.khaki {background-color:#F0E68C;}
.lavender {background-color:#E6E6fa;}
.lavenderblush {background-color:#fff0F5;}
.lawngreen {background-color:#7cfc00;}
.lemonchiffon {background-color:#fffacd;}
.lightblue {background-color:#add8E6;}
.lightcoral {background-color:#F08080;}
.lightcyan {background-color:#E0ffff;}
.lightgoldenrodyellow {background-color:#fafad2;}
.lightgray {background-color:#D3D3D3;}
.lightgreen {background-color:#90ee90;}
.lightpink {background-color:#ffb6C1;}
.lightsalmon {background-color:#ffa07A;}
.lightseagreen {background-color:#20B2aa;}
.lightskyblue {background-color:#87cefa;}
.lightslategray {background-color:#778899;}
.lightsteelblue {background-color:#B0C4de;}
.lightyellow {background-color:#ffffe0;}
.lime {background-color:#00ff00;}
.limegreen {background-color:#32cd32;}
.linen {background-color:#faf0E6;}
.magenta {background-color:#ff00ff;}
.maroon {background-color:#800000;}
.mediumaquamarine {background-color:#66cdaa;}
.mediumblue {background-color:#0000cd;}
.mediumorchid {background-color:#ba55D3;}
.mediumpurple {background-color:#9370db;}
.mediumseagreen {background-color:#3cb371;}
.mediumslateblue {background-color:#7B68ee;}
.mediumspringgreen {background-color:#00fa9A;}
.mediumturquoise {background-color:#48D1cc;}
.mediumvioletred {background-color:#C71585;}
.midnightblue {background-color:#191970;}
.mintcream {background-color:#F5fffa;}
.mistyrose {background-color:#ffe4E1;}
.moccasin {background-color:#ffe4B5;}
.navajowhite {background-color:#ffdead;}
.navy {background-color:#000080;}
.oldlace {background-color:#fdf5E6;}
.olive {background-color:#808000;}
.olivedrab {background-color:#6B8E23;}
.orange {background-color:#ffa500;}
.orangered {background-color:#ff4500;}
.orchid {background-color:#da70D6;}
.palegoldenrod {background-color:#eee8aa;}
.palegreen {background-color:#98fb98;}
.paleturquoise {background-color:#afeeee;}
.palevioletred {background-color:#db7093;}
.papayawhip {background-color:#ffefd5;}
.peachpuff {background-color:#ffdab9;}
.peru {background-color:#cd853F;}
.pink {background-color:#ffc0cb;}
.plum {background-color:#dda0dd;}
.powderblue {background-color:#B0E0E6;}
.purple {background-color:#800080;}
.rebeccapurple {background-color:#663399;}
.red {background-color:#ff0000;}
.rosybrown {background-color:#bc8F8F;}
.royalblue {background-color:#4169E1;}
.saddlebrown {background-color:#8B4513;}
.salmon {background-color:#fa8072;}
.sandybrown {background-color:#F4A460;}
.seagreen {background-color:#2E8B57;}
.seashell {background-color:#fff5ee;}
.sienna {background-color:#A0522D;}
.silver {background-color:#C0C0C0;}
.skyblue {background-color:#87ceeb;}
.slateblue {background-color:#6A5acd;}
.slategray {background-color:#708090;}
.snow {background-color:#fffafa;}
.springgreen {background-color:#00ff7F;}
.steelblue {background-color:#4682B4;}
.tan {background-color:#D2B48C;}
.teal {background-color:#008080;}
.thistle {background-color:#D8bfd8;}
.tomato {background-color:#ff6347;}
.turquoise {background-color:#40E0D0;}
.violet {background-color:#ee82ee;}
.wheat {background-color:#F5deb3;}
.white {background-color:#ffffff;}
.whitesmoke {background-color:#F5F5F5;}
.yellow {background-color:#ffff00;}
.yellowgreen {background-color:#9acd32;}