          <tr>
            <td bgcolor="#ededed" class="header">
              <table class="col425" align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">  
                  <tr>
                    <td height="70">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="h1" style="padding: 5px 0 0 0;">
                            {{ site_title|default("") }}
                          </td>
                          <td style="padding: 5px 0 0 0;">
                            <a href="https://www.facebook.com/acendainc" target="_blank" style="color:#fefefe; opacity: .5; text-decoration:none;"><img src="{{ app.url_asset }}/images/email/facebook.png" width="34" height="34" alt="" title="" border="0" style="border:0; display:inline_block;"/></a>
                            <a href="https://twitter.com/getacenda" target="_blank" style="color:#fefefe; opacity: .5;; text-decoration:none;"><img src="{{ app.url_asset }}/images/email/twitter.png" width="34" height="34" alt="" title="" border="0" style="border:0; display:inline_block;"/></a>
                            <a href="https://www.linkedin.com/company/acenda" target="_blank" style="color:#fefefe; opacity: .5; text-decoration:none;"><img src="{{ app.url_asset }}/images/email/google.png" width="34" height="34" alt="" title="" border="0" style="border:0; display:inline_block;"/></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
          </tr>