<!-- Begin email header -->
<table border="0" cellpadding="0" cellspacing="0" width="640" style="font-family: helvetica, arial, sans-serif;">
	<!-- Begin toolbar -->
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="640" style="background-color: #222222; font-family: helvetica, arial, sans-serif;">
				<tr>
					<td style="text-align: right; height: 34px; padding: 10px;">
						<a href="{{app.url}}/account/login" style="background-color: #555555; color: #FFFFFF; display: inline-block; font-size: 12px; margin-right: 10px; padding: 10px 15px; text-decoration: none; text-transform: uppercase;">
							Log in
						</a>
						<a href="{{app.url}}/cart" style="background-color: #E16C25; color: #FFFFFF; display: inline-block;font-size: 12px; margin: 0; padding: 10px 15px; text-decoration: none; text-transform: uppercase;">
							My Cart
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- End toolbar -->
	<!-- Begin site name -->
	<tr>
		<td>
			<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" style="background-color: #FFFFFF; color: #333333; font-family: helvetica, arial, sans-serif; padding: 20px;">
				<tr>
					<td align="center" width="640" style="border-bottom: 1px solid #CCCCCC;">
						<h1 style="font-size: 36px; line-height: 46px;">
							{{ app.params['site']['title'] }}
						</h1>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<!-- End site name -->
</table>
<!-- End email header