      <tr>
        <td class="innerpadding borderbottom">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="h3">
                Top Sellers
              </td>
            </tr>
          </table>
          <table width="50%" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="200" align="center" style="padding: 0;">
                <img class="fix" src="images/article1.png" width="200" height="200" border="0" alt="" />
                <p class="producttitle">Product 1</p><p class="productprice">$129.00</p>
              </td>
            </tr>
          </table>
          <table width="50%" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="200" align="center" style="padding:  0;">
                <img class="fix" src="images/article2.png" width="200" height="200"  border="0" alt="" />
                <p class="producttitle">Product 2</p><p class="productprice">$149.00</p>
              </td>
            </tr>
          </table>
          <table width="50%" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="200" align="center" style="padding:  0;">
                <img class="fix" src="images/article3.png" width="200" height="200" border="0" alt="" />
                <p class="producttitle">Product 3</p><p class="productprice">$229.00</p>
              </td>
            </tr>
          </table>
          <table width="50%" align="left" border="0" cellpadding="0" cellspacing="0">  
            <tr>
              <td height="200" align="center" style="padding:  0;">
                <img class="fix" src="images/article4.png" width="200" height="200" border="0" alt="" />
                <p class="producttitle">Product 4</p><p class="productprice">$229.00</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>