      
      <!-- Content Block
      ============================================ -->
      <div class="content-block">
      
        <!-- Container -->
        <div class="container no-pad-t">

          <!-- Product Tabs -->
          <div class="product-tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center case-u" role="tablist">
              <li class="active"><a href="#tab-latest" data-toggle="tab">latest</a></li>
              <li><a href="#tab-featured" data-toggle="tab">featured</a></li>
              <li><a href="#tab-trending" data-toggle="tab">trending</a></li>
            </ul>
            <!-- /Nav Tabs -->

            <!-- Tab panes -->
            <div class="tab-content tab-no-borders">
              <!-- Tab Latest -->
              <div class="tab-pane active" id="tab-latest">
              <!-- Col -->
                {% include "/_partials/promo/new_arrivals.html.twig" %}
              </div>
              <!-- Tab Featured -->
              <div class="tab-pane" id="tab-featured">
              <!-- Col -->
                {% include "/_partials/promo/featured_product.html.twig" %}
              </div>
              <!-- Tab Trending -->
              <div class="tab-pane" id="tab-trending">
              <!-- Col -->
                {% include "/_partials/top_sellers.html.twig" %}
              </div>


            </div>
            <!-- /Tab Panes -->
            
          </div>
          <!-- /Product Tabs -->
          
        </div>
        <!-- /Container -->
        
      </div>
      <!-- /Content Block
      ============================================ -->

