      <!-- Products
      ============================================ -->

{% set pattern = {} %}
{% set items_per_row = 4 %}
{% set collection_ids = [] %}
{% set product_count = 1 %}
{% set options = ['image'] %}
{% set products_temp = api.get('/catalog', {sort:"product.variant.popularity:-1",limit:9}) %}
{% set products = [] %}
{% for index,product in products_temp if collection_ids[product.id] is empty and product_count < 10 %}
    {% set product_count = product_count + 1 %}
    {% set product =  product|merge({'variant':product.product|values_in('variant')}) %}
    {% set product =  product|merge({'attributes':product.variant|values_in(['price','compare_price','save_price','save_percent','color'])}) %}
    {% set products = products|merge([product]) %}
{% endfor %}

{% if product.images is not empty %}
    {#
     {% set image_url = app.image.getImageUrl('product','thumbnail', product.images[0].id) %} 
    #}
{% endif %}

<div class="container-fluid productlist">

    <div class="row">
        <div class="col-sm-8">
            {% set product = products[0] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% set product = products[1] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% set product = products[2] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 special">
            <div class="col-sm-12">
                {% set product = products[3] %}
                {% if product %}
                    {% include "_partials/promo/product_tile.html.twig" %}
                {% endif %}
            </div>
            <div class="col-sm-12">
                {% set product = products[4] %}
                {% if product %}
                    {% include "_partials/promo/product_tile.html.twig" %}
                {% endif %}            
            </div>
        </div>
        <div class="col-sm-8">
            {% set product = products[5] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
    </div>
{% if products[6] %}
    <div class="row" id="more-items">
        <div class="col-sm-8">
            {% set product = products[6] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% set product = products[7] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% set product = products[8] %}
            {% if product %}
                {% include "_partials/promo/product_tile.html.twig" %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center show-more">
            <a href="#" class="btn btn-outline" id="showmore">Show more</a>
        </div>  
    </div> 
{% endif %} 
</div>
<!-- /Products
============================================ -->
